.App {
    background-color: lightskyblue;
    padding: 20px;
}

h1 {
    color: #4c00ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #edebf2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}


.menu-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    transition: transform 0.3s;
    width: 800px;
}

    .menu-item:hover {
        transform: scale(1.2); /* Powiekszanie przy najezdzaniu */
    }

    .menu-item img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

